<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
  </head>
  <body id="nightModeDiv">
    {% include "components/navbar.html" %}
    <div class="article-wrapper">
      <h1>{{title}}</h1>
      <article class="paragraph text-lg">{{ content }}</article>
    </div>
    {% include "components/footer.html" %}
    <script src="{{ '/js/script.js' | url }}"></script>
    
  </body>
</html>
