<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Craig W Gieselman, aspiring UX Designer</title>
    <link rel="shortcut icon" href="favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Raleway:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="nightModeDiv" class="">
    {% include components/navbar.html %}

    <main
      class="c-offcanvas-content-wrap"
      aria-labelledby="accesible-offcanvas"
    >
      <div class="c-page l-wrapper u-pos-relative">{{ content | safe }}</div>
    </main>

    {% include components/footer.html %}

    <script src="{{ '/js/script.js' | url }}"></script>
    <script src="{{ '/js/js-vendor/js-offcanvas.pkgd.min.js' | url }}"></script>
    <script src="{{ '/js/js-vendor/offcanvas.js' | url }}"></script>
    <script src="{{ '/js/playpen.js' | url }}"></script>
  </body>
</html>
