<div id="masthead" class="">
  <header class="nameplate">
    <div>
      <div id="spinner" class="header__logo">
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 57 51"
            class="cg-logo"
          >
            <path
              fill="#4E738A"
              d="M28.4,39.4 C19.1,39.4 11.5,31.8 11.5,22.5 C11.5,13.2 19.1,5.6 28.4,5.6 L28.4,7.8 C20.3,7.8 13.8,14.4 13.8,22.4 C13.8,30.5 20.4,37 28.4,37 L28.4,39.4 Z"
            ></path>
            <path
              fill="#FFCD00"
              d="M50.9,21.4 C50.3,9.5 40.5,0 28.4,0 C16,0 5.9,10.1 5.9,22.5 C5.9,34.9 16,45 28.4,45 C40.4,45 50.3,35.5 50.9,23.6 L54.3,23.6 C53.7,37.3 42.3,48.3 28.4,48.3 C14.1,48.3 2.5,36.7 2.5,22.4 L0.3,22.4 C0.3,37.9 12.9,50.5 28.4,50.5 C43.9,50.5 56.5,37.9 56.5,22.4 L56.5,21.3 L50.9,21.3 L50.9,21.4 Z M28.4,42.8 C17.2,42.8 8.2,33.7 8.2,22.6 C8.2,11.4 17.3,2.4 28.4,2.4 C39.2,2.4 48,10.9 48.6,21.5 L30.1,21.5 L30.1,23.7 L48.6,23.7 C48,34.3 39.2,42.8 28.4,42.8 Z"
            ></path>
          </svg>
        </a>
      </div>

      <div class="header__name">
        <p class="branded branded--blue">
          craig w. gieselman<br />
          <span class="branded--dark branded--shoved"
            >aspiring UX Designer</span
          >
        </p>
      </div>
    </div>
    <button
      id="drawer-trigger"
      class="c-button js-offcanvas-trigger"
      data-offcanvas-trigger="off-canvas-top"
    >
      Menu
    </button>
  </header>
  <nav
    class="drawer js-offcanvas"
    data-offcanvas-options='{"modifiers":"top,overlay,overflow-top"}'
    id="off-canvas-top"
    role="complementary"
  >
    <p>Navigation Links will go here... Some day.</p>
  </nav>
</div>
