body {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

section {
  margin-bottom: 3em;
}

.l-wrapper {
  margin-top: 3em;
}

.cg-logo {
  display: inline-block;
  height: 55px;

  @media screen and (min-width: $small-screen) {
    height: 70px;
  }
}

.branded {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 0;
}

.branded--blue {
  color: $primary;
}

.branded--dark {
  color: $black-pearl;
}

.branded--shoved {
  font-size: 1rem;
  @media screen and (min-width: 413px) {
    margin-left: 3.5em;
  }
}

.bordered {
  box-shadow: 0 0 5px 3px rgba($black-pearl, 0.08);
}
