/*
  If any of these variables change make sure
  to update Hex Values in _themes.scss too!
*/

// Neutral -1
$spring-wood: #fefefd;

// Neutral Base
$desert-storm: #f8f8f7;

// Neutral +1
$cararra: #ecece9;

// Neutral +2
$quill-gray: #dfdfde;

// Brand Gold -90
$early-dawn: #fffae6;

// Brand Gold -70
$buttermilk: #fff0b3;

// Brand Gold
$supernova: #ffcd00;

// Brand Gold +20
$buddha-gold: #cca400;

// Brand Blue -90
$catskill-white: #e7edf4;

// Brand Blue -80
$botticelli: #cfdbe8;

// Brand Blue -60
$rock-blue: #9fb8d1;

// Brand Blue -50
$polo-blue: #87a6c6;

// Brand Blue -20
$san-marino: #3e71a3;

// Brand Blue Base
$tory-blue: #0e4d8c;

// Brand Blue +40
$madison: #082e54;

// Brand Blue +60
$black-pearl: #061f38;

// Brand Blue +90
$blue-charcoal: #04172a;

$neutral-minus1: $spring-wood;
$neutral: $desert-storm;
$neutral-plus1: $cararra;
$neutral-plus2: $quill-gray;

$primary-minus9: $catskill-white;
$primary-minus8: $botticelli;
$primary-minus6: $rock-blue;
$primary-minus5: $polo-blue;
$primary-minus2: $san-marino;
$primary: $tory-blue;
$primary-plus4: $madison;
$primary-plus6: $black-pearl;
$primary-plus9: $blue-charcoal;

$secondary-minus9: $early-dawn;
$secondary-minus7: $buttermilk;
$secondary: $supernova;
$secondary-plus2: $buddha-gold;
