// Neutral -1
$spring-wood: #fefefd;

// Neutral Base
$desert-storm: #f8f8f7;

// Neutral +1
$cararra: #ecece9;

// Neutral +2
$quill-gray: #dfdfde;

// Brand Gold
$supernova: #ffcd00;

// Brand Blue -90
$catskill-white: #e7edf4;

// Brand Blue -80
$botticelli: #cfdbe8;

// Brand Blue -60
$rock-blue: #9fb8d1;

// Brand Blue -50
$polo-blue: #87a6c6;

// Brand Blue -20
$san-marino: #3e71a3;

// Brand Blue Base
$tory-blue: #0e4d8c;

// Brand Blue +40
$madison: #082e54;

// Brand Blue +60
$black-pearl: #061f38;

$neutral-minus1: $spring-wood;
$neutral: $desert-storm;
$neutral-plus1: $cararra;
$neutral-plus2: $quill-gray;

$primary-minus9: $catskill-white;
$primary-minus8: $botticelli;
$primary-minus6: $rock-blue;
$primary-minus5: $polo-blue;
$primary-minus2: $san-marino;
$primary: $tory-blue;
$primary-plus4: $madison;
$primary-plus6: $black-pearl;

$secondary: $supernova;
