* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--body-color);
  font-family: "PT Sans", sans-serif;
}

.cg-logo {
  display: inline-block;
  height: 55px;

  @media screen and (min-width: $small-screen) {
    height: 70px;
  }
  .cee {
    fill: var(--logo-accent);
  }
  .gee {
    fill: var(--logo-main);
  }
}

.nameplate {
  background: var(--head-foot-color);
  border-bottom: 5px solid var(--head-foot-border-color);
  box-shadow: 0px 2px 12px -4px $primary-plus6;

  // @media screen and (min-width: $small-screen) {
  //   top: -120px;
  // }

  .header__name,
  .header__logo {
    padding: 1rem;

    @media screen and (min-width: $small-screen) {
      padding: 2rem;
    }
  }

  > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1512px;
  }

  #offset-container {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 114px;
  }

  .header__name {
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
  }

  .name {
    color: var(--nameplate-main);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    line-height: 1;

    @media screen and (min-width: $small-screen) {
      font-size: 1.5rem;
    }
  }

  .strap {
    color: var(--nameplate-accent);
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    @media screen and (min-width: 413px) {
      margin-left: 3.5em;
    }
  }
}

.c-offcanvas {
  background: $primary-plus4;
  background-image: url(../img/drawer-bg.svg);
  background-repeat: repeat;
}

main {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 3em;
  padding-right: 12px;
  padding-left: 12px;
  position: relative !important;

  @media (min-width: 41.25em) {
    padding-right: 24px;
    padding-left: 24px;
  }
  @media (min-width: 46.25em) {
    max-width: 34.2556em;
  }
  @media (min-width: 81.25em) {
    max-width: 46.97082em;
  }
}

footer {
  background: var(--head-foot-color);
  border-top: 5px solid var(--head-foot-border-color);
  padding: 1em;
  text-align: center;

  @media screen and (min-width: $small-screen) {
    padding: 2.5em;
  }
  .fine-print {
    font-size: 0.75rem;
  }
}

section {
  margin-bottom: 3em;
}

hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.two-up--flex {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 1 1 300px;
    padding: 1em;
  }

  > figure {
    text-align: center;
  }

  img {
    width: 300px;
  }
}
