$base-nameplate: translate3d(0, -10px, 0);
$shoved-nameplate: translate3d(0, -130px, 0);
$closed-drawer: translate3d(0, -220px, 0);
$open-drawer: translate3d(0, -165px, 0);
$open-sticky-drawer: translate3d(0, -45px, 0);
$bouncy: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms;

// Normal Masthead (NOT scrolled to the top of page)
#masthead {
  position: sticky;
  top: -120px;
  z-index: 100;

  .nameplate {
    position: relative;
    z-index: 3000;
    transform: $base-nameplate;
    &.is-shoved {
      transform: $shoved-nameplate;
      transition: $bouncy;
    }
  }
  .drawer {
    position: relative;
    z-index: 2000;
    transform: $closed-drawer;
    &.drawer.is-closed {
      transform: $closed-drawer;
    }
    &.drawer.c-offcanvas--opening {
      transform: $open-drawer;
      transition: $bouncy;
    }
    &.drawer.is-open {
      transform: $open-drawer;
    }
  }
}

.has-offcanvas--visible {
  #masthead {
    .nameplate {
      transform: $shoved-nameplate;

      &.is-not-shoved {
        transform: $base-nameplate;
        transition: $bouncy;
      }
    }
    .drawer .c-offcanvas--closing {
      transform: $closed-drawer;
      transition: $bouncy;
    }
  }
}

// Sticky Masthead (NOT scrolled to the top of page)
#masthead.is-sticky {
  .nameplate {
    transform: $base-nameplate;
  }
  .drawer.c-offcanvas--opening {
    transform: $open-sticky-drawer;
    transition: $bouncy;
  }
  .drawer.is-open {
    transform: $open-sticky-drawer;
  }
}
.has-offcanvas--visible {
  #masthead.is-sticky {
    .drawer.is-animating.c-offcanvas--closing {
      transform: $closed-drawer;
      transition: $bouncy;
    }
    .drawer.is-closed {
      transform: $closed-drawer;
    }
  }
}

// Offcanvas Button to match my buttons
.c-button {
  background-color: $san-juan;
  border-color: darken($san-juan, 5%);
  bottom: -25px;
  box-shadow: 0px 2px 12px -4px $nero;
  display: block;
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
}

.c-button__text {
  color: $desert-storm;
}

.c-offcanvas {
  background: $san-juan;
  background-image: url(../img/drawer-bg.jpg);
  background-repeat: repeat;
}
