$base-nameplate: translate3d(0, -0.5rem, 0);
$shoved-nameplate: translate3d(0, -6.5rem, 0);
$closed-drawer: translate3d(0, -11rem, 0);
$open-drawer: translate3d(0, -8.25rem, 0);
$open-sticky-drawer: translate3d(0, -2.25rem, 0);

// Normal Masthead (NOT scrolled to the top of page)
#masthead {
  height: 200px; // set by height of the drawer that is position: relative behind #masthead
  position: sticky;
  top: -100px;
  z-index: 100;

  .nameplate {
    position: relative;
    z-index: 3000;
    transform: $base-nameplate;
    &.is-shoved {
      transform: $shoved-nameplate;
      transition: $bouncy;
    }
  }
  .drawer {
    position: relative;
    z-index: 2000;
    transform: $closed-drawer;
    &.drawer.is-closed {
      transform: $closed-drawer;
    }
    &.drawer.c-offcanvas--opening {
      transform: $open-drawer;
      transition: $bouncy;
    }
    &.drawer.is-open {
      transform: $open-drawer;
    }
  }
}

.has-offcanvas--visible {
  #masthead {
    .nameplate {
      transform: $shoved-nameplate;

      &.is-not-shoved {
        transform: $base-nameplate;
        transition: $bouncy;
      }
    }
    .drawer .c-offcanvas--closing {
      transform: $closed-drawer;
      transition: $bouncy;
    }
  }
}

// Sticky Masthead (NOT scrolled to the top of page)
#masthead.is-sticky {
  .nameplate {
    transform: $base-nameplate;
  }
  .drawer.c-offcanvas--opening {
    transform: $open-sticky-drawer;
    transition: $bouncy;
  }
  .drawer.is-open {
    transform: $open-sticky-drawer;
  }
}
.has-offcanvas--visible {
  #masthead.is-sticky {
    .drawer.is-animating.c-offcanvas--closing {
      transform: $closed-drawer;
      transition: $bouncy;
    }
    .drawer.is-closed {
      transform: $closed-drawer;
    }
  }
}
