.nameplate.is-animating.is-shoved {
  #spinner {
    position: relative;
    transform: rotate(359deg);
    transition: $bouncy;
  }
}

.nameplate.is-animating.is-not-shoved {
  #spinner {
    position: relative;
    transform: rotate(-359deg);
    transition: $bouncy;
  }
}
