@charset "utf-8";

$font-stack: Helvetica, sans-serif;
$font-light-theme: #333333;
$background-light-theme: #ffffff;

$font-dark-theme: #ffffff;
$background-dark-theme: #333333;

$small-screen: 700px;

// Neutrals
$white: #ffffff;
$desert-storm: #f8f8f7;
$nero: #181300;

// Brand Gold
$sunglow: #ffcc33;

// Brand Blue
$san-juan: #355a72;
$astral: #3670b4;

@import "utilities";

@import "vendor/js-offcanvas";
@import "vendor/typescale";

@import "overwrites";

@import "offcanvas-mods";

@import "brand";
@import "layout";

.dark-theme {
  color: $font-dark-theme;
  background-color: $background-dark-theme;

  .nav-list {
    a {
      color: $font-dark-theme;
    }
  }

  .links {
    margin: 0;
    color: $font-dark-theme;
  }

  .night-mode-btn {
    color: $font-dark-theme;

    svg {
      fill: $font-dark-theme;
    }
  }

  .link-btn {
    color: $font-dark-theme;
  }

  .blog-single {
    color: $font-dark-theme;
  }

  footer {
    a {
      color: $font-dark-theme;
    }
  }
}
