.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

img {
  width: 100%; }

.text-center {
  text-align: center; }

.c-offcanvas {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.c-offcanvas {
  transition: transform 300ms cubic-bezier(0.4, 0, 0.6, 1); }

.c-offcanvas.is-open {
  transform: translate3d(0, 0, 0);
  visibility: visible; }

/**
 * Offcanvas-content-wrap
*/
.c-offcanvas-content-wrap {
  z-index: 3; }

/**
 * Offcanvas Panel
*/
.c-offcanvas {
  position: fixed;
  min-height: 100%;
  max-height: none;
  top: 0;
  display: block;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto; }
  .c-offcanvas--opening {
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1); }
  .c-offcanvas.is-closed {
    max-height: 100%;
    overflow: hidden;
    visibility: hidden;
    box-shadow: none; }

.c-offcanvas--overlay {
  z-index: 1080; }

/**
 * Offcanvas BG-Overlay
*/
.c-offcanvas-bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1079;
  left: -100%;
  background-color: transparent;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; }
  .c-offcanvas-bg.is-animating, .c-offcanvas-bg.is-open {
    left: 0;
    visibility: visible; }
  .c-offcanvas-bg.is-closed {
    visibility: hidden; }
  .c-offcanvas-bg--closing.is-animating {
    background: transparent; }

/**
 * Position Top
 *
*/
.c-offcanvas--top {
  left: 0;
  right: 0;
  top: 0;
  height: 10em;
  min-height: auto;
  width: 100%;
  transform: translate3d(0, -10em, 0); }

.u-unstyled,
.o-list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }

.u-pos-relative {
  position: relative !important; }

.u-text-center {
  text-align: center; }

[tabindex="-1"]:focus {
  outline: 0; }

.o-list-inline {
  padding: 0;
  list-style: none; }

.o-list-inline > li {
  display: inline-block; }

html {
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5;
  min-height: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

p {
  font-size: 1.18em;
  margin-bottom: 1.18em;
  font-weight: 400;
  font-style: normal;
  color: #424242; }

@media (min-width: 20em) and (max-width: 41.25em) {
  p {
    font-size: 1.18em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  p {
    font-size: 1.18em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  p {
    font-size: 1.18em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  p {
    font-size: 1.18em; } }

@media (min-width: 81.25em) {
  p {
    font-size: 1.18em; } }

h1 {
  font-size: 1.6992em;
  margin: 0 0 1em 0;
  line-height: 1.1;
  font-weight: 500;
  font-style: normal; }

@media (min-width: 20em) and (max-width: 41.25em) {
  h1 {
    font-size: 1.6992em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  h1 {
    font-size: 2.15055em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  h1 {
    font-size: 2.3128em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  h1 {
    font-size: 2.655em; } }

@media (min-width: 81.25em) {
  h1 {
    font-size: 3.0208em; } }

h2 {
  font-size: 1.416em;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 0.45074em;
  margin: 1.18em 0 1.18em 0;
  text-transform: capitalize;
  text-indent: -2px; }

@media (min-width: 20em) and (max-width: 41.25em) {
  h2 {
    font-size: 1.416em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  h2 {
    font-size: 1.593em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  h2 {
    font-size: 1.652em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  h2 {
    font-size: 1.77em; } }

@media (min-width: 81.25em) {
  h2 {
    font-size: 1.888em; } }

h3 {
  font-size: 1.2em;
  margin: 1.18em 0 0.7293em 0;
  font-weight: 500;
  font-style: normal;
  line-height: 1.188em;
  color: #2b2b2b;
  text-indent: -1px; }

@media (min-width: 20em) and (max-width: 41.25em) {
  h3 {
    font-size: 1.2em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  h3 {
    font-size: 1.35em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  h3 {
    font-size: 1.4em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  h3 {
    font-size: 1.5em; } }

@media (min-width: 81.25em) {
  h3 {
    font-size: 1.6em; } }

h4 {
  font-size: 1.18em;
  font-weight: 300;
  line-height: 1.409em;
  margin: 1em 0 0 0;
  letter-spacing: 1px;
  color: #727272;
  text-transform: uppercase; }

@media (min-width: 20em) and (max-width: 41.25em) {
  h4 {
    font-size: 1.18em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  h4 {
    font-size: 1.18em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  h4 {
    font-size: 1.18em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  h4 {
    font-size: 1.18em; } }

@media (min-width: 81.25em) {
  h4 {
    font-size: 1.18em; } }

.l-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding-right: 12px;
  padding-left: 12px; }

@media (min-width: 41.25em) {
  .l-wrapper {
    padding-right: 24px;
    padding-left: 24px; } }

@media (min-width: 46.25em) {
  .l-wrapper {
    max-width: 34.2556em; } }

@media (min-width: 81.25em) {
  .l-wrapper {
    max-width: 46.97082em; } }

.c-button {
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.08));
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 300;
  margin: 0;
  padding: 0.6rem;
  margin: 0 0 0.38198em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle; }

.c-button:hover,
.c-button:focus {
  color: #fafafa; }

@media (min-width: 46.25em) {
  .c-button {
    font-size: 1.18em; } }

.c-button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.c-button:hover,
.c-button:focus,
.c-button:active {
  outline: 0;
  text-decoration: none; }

.c-button:focus:not(:hover) {
  outline: 4px solid #c5dbfc; }

.c-menu {
  margin: 0; }

.c-menu--border .c-menu__item {
  border-bottom: 1px solid #e0e0e0; }

.c-menu__item--heading {
  padding: 1.18em;
  text-indent: -0.27858em;
  font-size: 1.2em; }

@media (min-width: 20em) and (max-width: 41.25em) {
  .c-menu__item--heading {
    font-size: 1.2em; } }

@media (min-width: 41.25em) and (max-width: 46.25em) {
  .c-menu__item--heading {
    font-size: 1.35em; } }

@media (min-width: 46.25em) and (max-width: 61.25em) {
  .c-menu__item--heading {
    font-size: 1.4em; } }

@media (min-width: 61.25em) and (max-width: 81.25em) {
  .c-menu__item--heading {
    font-size: 1.5em; } }

@media (min-width: 81.25em) {
  .c-menu__item--heading {
    font-size: 1.6em; } }

.c-menu__link {
  display: block;
  width: 100%;
  padding: 0.45074em 1.18em;
  text-decoration: none;
  line-height: 1.618em;
  color: rgba(43, 43, 43, 0.9);
  font-size: 1.18em;
  background: #fafafa; }

.c-menu__link:hover,
.c-menu__link:focus {
  color: #212121;
  outline: none;
  text-decoration: none;
  background: #eee; }

.c-menu--small .c-menu__link {
  font-size: 1.18em; }

#masthead {
  height: 200px;
  position: sticky;
  top: -120px;
  z-index: 100; }
  #masthead .nameplate {
    position: relative;
    z-index: 3000;
    transform: translate3d(0, -0.5rem, 0); }
    #masthead .nameplate.is-shoved {
      transform: translate3d(0, -6.5rem, 0);
      transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }
  #masthead .drawer {
    position: relative;
    z-index: 2000;
    transform: translate3d(0, -11rem, 0); }
    #masthead .drawer.drawer.is-closed {
      transform: translate3d(0, -11rem, 0); }
    #masthead .drawer.drawer.c-offcanvas--opening {
      transform: translate3d(0, -8.25rem, 0);
      transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }
    #masthead .drawer.drawer.is-open {
      transform: translate3d(0, -8.25rem, 0); }

.has-offcanvas--visible #masthead .nameplate {
  transform: translate3d(0, -6.5rem, 0); }
  .has-offcanvas--visible #masthead .nameplate.is-not-shoved {
    transform: translate3d(0, -0.5rem, 0);
    transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

.has-offcanvas--visible #masthead .drawer .c-offcanvas--closing {
  transform: translate3d(0, -11rem, 0);
  transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

#masthead.is-sticky .nameplate {
  transform: translate3d(0, -0.5rem, 0); }

#masthead.is-sticky .drawer.c-offcanvas--opening {
  transform: translate3d(0, -2.25rem, 0);
  transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

#masthead.is-sticky .drawer.is-open {
  transform: translate3d(0, -2.25rem, 0); }

.has-offcanvas--visible #masthead.is-sticky .drawer.is-animating.c-offcanvas--closing {
  transform: translate3d(0, -11rem, 0);
  transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

.has-offcanvas--visible #masthead.is-sticky .drawer.is-closed {
  transform: translate3d(0, -11rem, 0); }

.c-button {
  background-color: #0e4d8c;
  border-color: #082e54;
  bottom: -25px;
  box-shadow: 0px 2px 12px -4px #061f38;
  display: block;
  font-size: 1rem;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.c-button__text {
  color: #f8f8f7;
  display: flex; }
  .c-button__text .c-button__label {
    margin-left: 0.5rem; }

.c-offcanvas {
  background: #082e54;
  background-image: url(../img/drawer-bg.svg);
  background-repeat: repeat; }

body {
  font-family: "PT Sans", sans-serif; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 2rem; }

h2 {
  margin: 0; }

p {
  margin: 0; }

section {
  margin-bottom: 3em; }

.l-wrapper {
  margin-top: 3em; }

.cg-logo {
  display: inline-block;
  height: 55px; }
  @media screen and (min-width: 700px) {
    .cg-logo {
      height: 70px; } }

.branded {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 0; }

.branded--blue {
  color: #0e4d8c; }

.branded--dark {
  color: #061f38; }

.branded--shoved {
  font-size: 1rem; }
  @media screen and (min-width: 413px) {
    .branded--shoved {
      margin-left: 3.5em; } }

.bordered {
  box-shadow: 0 0 5px 3px rgba(6, 31, 56, 0.08); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #e7edf4;
  color: #061f38;
  font-family: "PT Sans", sans-serif; }

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif; }

.nameplate {
  background: #f8f8f7;
  border-bottom: 5px solid #dfdfde;
  box-shadow: 0px 2px 12px -4px #061f38; }
  .nameplate p {
    font-size: 1rem;
    line-height: 1; }
    @media screen and (min-width: 700px) {
      .nameplate p {
        font-size: 1.5rem; } }
  .nameplate > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0 1em; }
    @media screen and (min-width: 700px) {
      .nameplate > div {
        padding: 2em 5em 0 5em; } }

footer {
  background: #f8f8f7;
  border-top: 5px solid #dfdfde;
  padding: 1em;
  text-align: center; }
  @media screen and (min-width: 700px) {
    footer {
      padding: 2.5em; } }

section {
  margin-bottom: 3em; }

ul {
  margin-left: 3em;
  padding-bottom: 1.18em; }

li {
  margin-bottom: 1em; }

figure {
  margin-bottom: 1.18em; }

figcaption {
  font-size: 0.85em; }

hr {
  margin-top: 3em;
  margin-bottom: 3em; }

a {
  color: #0e4d8c; }

.two-up--flex {
  display: flex;
  flex-wrap: wrap; }
  .two-up--flex > * {
    flex: 1 1 300px;
    padding: 1em; }
  .two-up--flex > figure {
    text-align: center; }
  .two-up--flex img {
    width: 300px; }

.nameplate.is-animating.is-shoved #spinner {
  position: relative;
  transform: rotate(359deg);
  transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

.nameplate.is-animating.is-not-shoved #spinner {
  position: relative;
  transform: rotate(-359deg);
  transition: transform 400ms cubic-bezier(0.7, -0.2, 0.4, 1.4) 0ms; }

.dark-theme {
  color: #ffffff;
  background-color: #333333; }
  .dark-theme .nav-list a {
    color: #ffffff; }
  .dark-theme .links {
    margin: 0;
    color: #ffffff; }
  .dark-theme .night-mode-btn {
    color: #ffffff; }
    .dark-theme .night-mode-btn svg {
      fill: #ffffff; }
  .dark-theme .link-btn {
    color: #ffffff; }
  .dark-theme .blog-single {
    color: #ffffff; }
  .dark-theme footer a {
    color: #ffffff; }
